In [1]:
import camelot
import pandas as pd
import numpy as np
import geopandas as gpd

In [2]:
cities_raw = camelot.read_pdf('./SoS_files/cities.pdf', pages='all')

In [3]:
cities=pd.concat([cities_raw[i].df for i in range(24)],ignore_index=True)

In [4]:
cities=cities.drop([0,1,2])
cities.drop(cities.columns[2:5], axis=1, inplace=True)
cities=cities.replace(',','',regex=True)
cities=cities.replace('city', '', regex=True)
cities.columns=['city', 'population']
cities=cities.reset_index(drop=True)
# cities

In [5]:
cities.to_csv('./data/cities.csv', index=False, header=True)

In [6]:
townships_raw=camelot.read_pdf('./SoS_files/subdivisions.pdf', pages='all')

In [7]:
townships=pd.concat([townships_raw[i].df for i in range(39)],ignore_index=True)
townships[['township', 'county']] = townships[0].str.split(',', n=1, expand=True)

In [8]:
townships=townships.drop([0,1,2])
cols=[0, 2, 3, 4]
townships.drop(townships.columns[cols], axis=1, inplace=True)
townships=townships.replace(',','',regex=True)
townships=townships.replace('County', '', regex=True)
townships=townships.replace('township', '', regex=True)
townships.columns=['population', 'township', 'county']
townships_reordered=townships.loc[:, ['township', 'county', 'population']]

In [9]:
townships_reordered=townships_reordered.reset_index(drop=True)
townships_reordered

             township           county population
0              Adams           Dallas        1499
1              Adams         Delaware         713
2              Adams           Keokuk         400
3              Adams          Mahaska         234
4              Adams          Wapello         732
...               ...              ...        ...
1657            Yell          Webster          67
1658  Yellow Springs       Des Moines         543
1659            York             Iowa         488
1660            York    Pottawattamie         308
1661            York             Tama         492

[1662 rows x 3 columns]

In [11]:
townships_reordered.to_csv('./data/townships.csv', index=False, header=True)